<div class="container">
    <h3 mat-dialog-title>Add New User</h3>
  
    <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
   
      <div class="form">
        <mat-form-field color="accent">
          <input matInput #input class="form-control" placeholder="UserName" [(ngModel)]="data.userName" name="userName" required />
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput #input class="form-control" placeholder="FirstName" [(ngModel)]="data.firstName" name="firstName" required />
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput #input class="form-control" placeholder="LastName" [(ngModel)]="data.lastName" name="lastName" required />
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
  
      <!--Contains mat-hint for characters count and has maxLengt set-->
      <div class="form">
        <mat-form-field color="accent">
          <input type="password" matInput #inputstate class="form-control" placeholder="Password" [(ngModel)]="data.password" name="password" maxlength="10" />
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
  
      <div class="form">
        <mat-form-field color="accent">
          <input matInput style="display: none">
          <mat-checkbox [(ngModel)]="data.isReadOnly" name="isReadOnly">Is ReadOnly</mat-checkbox>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput style="display: none">
          <mat-checkbox [(ngModel)]="data.canComment" name="canComment">Can Comment</mat-checkbox>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput style="display: none">
          <mat-checkbox [(ngModel)]="data.isContributer" name="isContributer">Is Contributer</mat-checkbox>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput style="display: none">
          <mat-checkbox [(ngModel)]="data.isAdmin" name="isAdmin">Is Admin</mat-checkbox>
        </mat-form-field>
      </div>
  
      <div mat-dialog-actions>
        <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd()">Save</button>
        <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
      </div>
    </form>
  </div>
  