<div class="basic-container">
  <mat-card class="about-card">
    <mat-card-header>
      <mat-card-title>关于非遗系统</mat-card-title>
      <mat-card-subtitle>传统技艺非遗旅游评估系统</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/images/buu_logo.jpg" alt="BUU Logo" style="width:300px">
    <mat-card-content>
      <p>
        传统技艺非遗旅游评估系统是一个非遗数据收集、分析、评估系统，通过科学规范的数据收集、归纳、整理、分类、严谨的元数据描述、采用现代大数据存储技术，
        增量式的构建传统技艺非遗资源存储管理系统，在此基础上进行传统技艺非遗旅游价值评估、博弈及活化研究，旨在构建传统技艺的旅游价值评估系统，解决我国传
        统技艺旅游活化的系统评判问题，在价值评估的基础上推导出传统技艺的旅游活化模式及不同利益相关者利益博弈关系，推进我国传统技艺的可持续发展，为我国传
        统技艺的活化提供系统的指导。
        <br>
        <br>
        <br>
        联系方式：
        <br>
        <br>
        地址：
        <br>
        <br>
        电话：
        <br>
        <br>
        邮件：
        <br>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button routerLink="/">返回</button>
    </mat-card-actions>
  </mat-card>
</div>