<div class="basic-container" *ngIf = "heritage">

<form (ngSubmit)="onSubmit()" #heritageForm="ngForm" name="heritage">

  <mat-toolbar>
    <span>Heritage Detail {{ heritage.name }} </span>
    <span class="spacer"></span>
    <button mat-button class="form-save">Save</button>
    <button type="button" mat-button class="form-save" routerLink="/heritagelist">Back</button>
  </mat-toolbar>

  <mat-accordion class="example-headers-align">
      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Basic Information
          </mat-panel-title>
          <mat-panel-description>
            Type the basic information here
            <mat-icon>account_balance</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
    
          <mat-form-field class="form-field">
            <input matInput #name placeholder="Heritage Name" [(ngModel)] = "heritage.name" name = "name"/>
            <mat-hint align="end">
                {{name.value.length}} / 50
              </mat-hint>
          </mat-form-field>
          <br>
          <mat-form-field class="form-field">
            <input matInput placeholder="Registration District" [(ngModel)] = "heritage.registrationDistrict" name = "registrationDistrict"/>
          </mat-form-field>
          <br>
          <mat-form-field class="form-field">
            <input matInput placeholder="Registration Year" [(ngModel)] = "heritage.registrationYear" name = "registrationYear"/>
          </mat-form-field>
          <br>         
          <mat-form-field class="form-field">
              <input matInput placeholder="Province" [(ngModel)] = "heritage.province" name = "province"/>
          </mat-form-field>
          <br>
          <mat-form-field class="form-field">
              <input matInput placeholder="Project Type" [(ngModel)] = "heritage.typeofProject" name = "projectType"/>
          </mat-form-field>
          <br>
          <mat-form-field class="form-field">
              <input matInput placeholder="Batch No." [(ngModel)] = "heritage.batchNo" name = "batchNo"/>
          </mat-form-field>
          <br>
          <mat-form-field class="form-field">
              <input matInput placeholder="Inheritors" [(ngModel)] = "heritage.inheritors" name = "inheritors"/>
          </mat-form-field>
          <br>
          <mat-form-field class="form-field">
              <textarea matInput placeholder="Project Overview" [(ngModel)] = "heritage.projectOverview" name = "projectOverview"></textarea>
          </mat-form-field>
          <br>
          <mat-form-field class="form-field">
              <textarea matInput placeholder="History" [(ngModel)] = "heritage.history" name = "history"></textarea>
          </mat-form-field>
          <br>
          <mat-form-field class="form-field">
              <input matInput placeholder="Current Status" [(ngModel)] = "heritage.currentStatus" name="currentStatus"/>
          </mat-form-field>
          <br>
          <mat-form-field class="form-field">
              <input matInput placeholder="Present Value" [(ngModel)] = "heritage.presentValue" name="presentValue"/>
          </mat-form-field>
          <br>
          <mat-form-field class="form-field">
              <input matInput placeholder="Endangered Status" [(ngModel)] = "heritage.endangeredStatus" name="endangeredStatus"/>
          </mat-form-field>
          <br>
          <mat-form-field class="form-field">
              <textarea matInput placeholder="Masterpiece" [(ngModel)] = "heritage.masterpiece" name="masterpiece"></textarea>
          </mat-form-field>
          <br>
    
        <mat-action-row>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>
    
      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Tourism Information
          </mat-panel-title>
          <mat-panel-description>
            Type the tourism information here
            <mat-icon>map</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
    
        <mat-form-field class="form-field">
            <input matInput placeholder="Tourism Status" [(ngModel)] = "heritage.tourismStatus" name ="tourismStatus"/>
        </mat-form-field>
        <br>
        <mat-form-field class="form-field">
            <textarea matInput placeholder="Tourism Market Characteristics" [(ngModel)] = "heritage.tourismMarketCharacteristics" name="tourismMarketCharacteristics"></textarea>
        </mat-form-field>
        <br>
        <mat-form-field class="form-field">
            <textarea matInput placeholder="Tourism Product" [(ngModel)] = "heritage.tourismProduct" name="tourismProduct"></textarea>
        </mat-form-field>
        <br>
        <mat-form-field class="form-field">
            <input matInput placeholder="Tourism Price" [(ngModel)] = "heritage.tourismPrice" name="tourismPrice"/>
        </mat-form-field>
        <br>
        <mat-form-field class="form-field">
            <input matInput placeholder="Tourism Development Model" [(ngModel)] = "heritage.tourismDevelopmentModel" name="tourismDevelopmentModel"/>
        </mat-form-field>
        <br>
        <mat-form-field class="form-field">
            <input matInput placeholder="Tourism Benefit" [(ngModel)] = "heritage.tourismBenefit" name="tourismBenefit"/>
        </mat-form-field>
        <br>
    
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>
    
      <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Other Information
          </mat-panel-title>
          <mat-panel-description>
            Type the other information here
            <mat-icon>add_photo_alternate</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-card class="fileupload">
            <mat-card-header>          
              <mat-card-title>Photos and Videos </mat-card-title>
              <mat-card-subtitle>Please upload and download photo or video here.</mat-card-subtitle>
            </mat-card-header>        
            <mat-card-content>
                <mat-form-field class="form-field">
                    <textarea matInput placeholder="Story" [(ngModel)] = "heritage.story" name="story"></textarea>
                </mat-form-field>
                <br>
                <app-file-manager [heritageID]="heritage.id">File manager loading...</app-file-manager>
            </mat-card-content>
        </mat-card>
    
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">End</button>
        </mat-action-row>
      </mat-expansion-panel>  

    </mat-accordion>

</form>
</div>  
