<mat-sidenav-container>
  <mat-sidenav  #sidenav mode="side"
        [fixedInViewport]="options.value.fixed" [fixedTopGap]="options.value.top"
        [fixedBottomGap]="options.value.bottom">
    <mat-nav-list>
      <a mat-list-item
         *ngIf="!auth.isAuthenticated()"
         routerLink="/login">
        <mat-icon class="icon">input</mat-icon>
        <span class="label">登录</span>
      </a>
      <a mat-list-item         
         routerLink="/">
        <mat-icon class="icon">home</mat-icon>
        <span class="label">主页</span>
      </a>
      <a mat-list-item
         *ngIf="auth.isAuthenticated()"
         routerLink="/heritagelist">
        <mat-icon class="icon">view_list</mat-icon>
        <span class="label">非遗列表</span>
      </a>
      <a mat-list-item
         *ngIf="canEdit()"
         routerLink="/activationmodelist">
        <mat-icon class="icon">view_list</mat-icon>
        <span class="label">活化模式列表</span>
      </a>
      <a mat-list-item
         *ngIf="isAdmin()"
         routerLink="/users">
        <mat-icon class="icon">account_box</mat-icon>
        <span class="label">用户管理</span>
      </a>
      <a mat-list-item         
         routerLink="/aboutus">
        <mat-icon class="icon">info</mat-icon>
        <span class="label">关于我们</span>
      </a>
      <a  mat-list-item
          *ngIf="auth.isAuthenticated()"
          (click)="auth.logout()" type="button">
        <mat-icon class="icon">input</mat-icon>
        <span class="label">退出</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content [formGroup]="options">
    <mat-toolbar color="primary">
      <div fxHide.gt-xs="false">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div>
        <a routerLink="/">
          非遗博弈旅游软件 1.0
        </a>
      </div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end"  fxHide.xs>
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
          <li>
            <a
              *ngIf="!auth.isAuthenticated()"
              routerLink="/login">
              <mat-icon class="icon">input</mat-icon>
              <span  class="label">登录</span>
            </a>
          </li>
          <li>
            <a              
              routerLink="/">
              <mat-icon class="icon">home</mat-icon>
              <span class="label">主页</span>
            </a>
          </li>
          <li>
            <a
              *ngIf="auth.isAuthenticated()"
              routerLink="/heritagelist">
              <mat-icon class="icon">view_list</mat-icon>
              <span class="label">非遗列表</span>
            </a>
          </li>
          <li>
              <a
                *ngIf="canEdit()"
                routerLink="/activationmodelist">
                <mat-icon class="icon">view_list</mat-icon>
                <span class="label">活化模式列表</span>
              </a>
            </li>
          <li>
            <a
              *ngIf="isAdmin()"
              routerLink="/users">
              <mat-icon class="icon">account_box</mat-icon>
              <span class="label">用户管理</span>
            </a>
          </li>
          <li>
            <a              
              routerLink="/aboutus">
              <mat-icon class="icon">info</mat-icon>
              <span class="label">关于我们</span>
            </a>
          </li>
          <li>
            <a
              *ngIf="auth.isAuthenticated()"
              (click)="auth.logout()">
              <mat-icon class="icon">input</mat-icon>
              <span class="label">退出</span>
            </a>
          </li>
        </ul>
      </div>
    </mat-toolbar>

  </mat-sidenav-content>
</mat-sidenav-container>
