    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">
        <mat-card class="welcome-picture-card">           
            <img mat-card-image src="../../assets/images/background.jpg" alt="Heritage Photo">
        </mat-card>
      </div>
  
      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>非物质文化遗产</h2>
            <p>请在这里提供对非物质文化遗产的定义</p>
            <p><a class="btn btn-secondary" [routerLink]="['/heritagedetail']" role="button">Create &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>非遗列表</h2>
            <p>简要说明</p>
            <p><a class="btn btn-secondary" [routerLink]="['/heritagelist']" role="button">View List &raquo;</a></p>
         </div>
          <div class="col-md-4" *ngIf = "userService.canEdit()">
            <h2>活化模式列表</h2>
            <p>简要说明</p>
            <p><a class="btn btn-secondary" [routerLink]="['/activationmodelist']" role="button">View List &raquo;</a></p>
          </div>
        </div>
       
      </div> <!-- /container -->
      
