<div class="basic-container" *ngIf="heritage">

  <mat-toolbar>
    <span>Heritage Evaluation: {{ heritage.name }} </span>
    <span class="spacer"></span>
    <button type="button" mat-button class="form-save" [routerLink]="['/heritagenav', heritage.id]">Back</button>
  </mat-toolbar>

  <div class="actMode-container" *ngIf="!actMode">
    <p>No Activation Mode avaialble for current evaluation value.</p>
  </div>

  <div class="actMode-container" *ngIf="actMode">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="activation-card"></div>
        <mat-card-title>{{ actMode.activationModeName}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{ actMode.activationModeDescription }}
        </p>
      </mat-card-content>
    </mat-card>
  </div>

</div>