<div class="basic-container" *ngIf="heritage">

  <mat-toolbar>
    <span>推荐的活化模式: {{ heritage.name }} </span>
    <span class="spacer"></span>
    <button type="button" mat-button class="form-save" [routerLink]="['/heritagenav', heritage.id]">返回</button>
  </mat-toolbar>

  <div class="actMode-container" *ngIf="!actModes">
    <p>当前旅游价值没有匹配的活化模式，请先进行旅游价值评估。</p>
  </div>

  <div class="actMode-container" *ngFor="let actMode of actModes">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="activation-card"></div>
        <mat-card-title>{{ actMode.activationModeName}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{ actMode.activationModeDescription }}
        </p>
      </mat-card-content>
    </mat-card>
  </div>

</div>